<h1>This is the secret page</h1>
<p>You found me!</p>
<img src="https://www.oddee.com/_media/imgs/articles/a383_s1.jpg">

<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>