header, footer{
	background-color: #1abc9c;
	flex-basis: 100px;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


main > *,header,footer{
	margin: 4px;
	padding: 5px;
	border-radius: 7px;
	

}
a{
	text-decoration: none;
	color: black;
}

article{
	background-color: #ecf0f1;
	flex: 4 0 60%;

/*	flex-basis: 60%;
	flex-grow: 4;*/
}

nav{
	background-color: #95a5a6;
	flex: 1 1 20%;
	/*flex-basis: 20%;*/
	order: -1;
	/*flex-grow: 1;*/

}

aside{
	background-color: #3498db;
	flex: 1 1 20%;
/*	flex-basis: 20%;
	flex-grow: 1;*/
}

body{
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #2c3e50;
	font-family: Helvetica;
}

main{
	display: flex;
	flex-basis: 800px;
}

@media all and (max-width: 640px){
	main{
		flex-direction: column;
		flex-grow: 1;
	}
	nav{
		order: 0;
	}
}