<% include partials/header %>


<h1>This is the home page</h1>

<img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/siberian-husky-dog-breed-pictures/thumbs/thumbs_siberian-husky-dog-breed-pictures-3.jpg"></img>

<% include partials/footer %>